<div class="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
</div>

<article class="about">
    <div class="aboutPrincipal">
        <h2>Sobre Mi</h2>

        <a href="https://drive.google.com/file/d/1DjgYXmvjbxNti3VYOCbvLeynSYihZbfv/view?usp=sharing" target="_blank" class="WebLinkCv">
            DESCARGAR CV AQUI
        </a>
    </div>

    <div class="about-conteiner">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Integer luctus finibus quam. Nunc rutrum vel ligula porttitor 
            commodo. Quisque ut nulla massa. Suspendisse faucibus maximus eros 
            sit amet sollicitudin. Maecenas ut commodo ligula. Etiam vitae laoreet 
            nunc. Vivamus fringilla, libero nec faucibus feugiat, sem neque molestie 
            diam, non ullamcorper mi nunc ut nunc. Duis interdum massa quis rutrum 
            maximus. Aliquam egestas vulputate semper. Donec egestas turpis turpis,
            vel molestie odio interdum non.
        </p>
        
        <img src="assets/img/cv.jpg" alt="aboutme" class="imagenAbout">

        <a href="https://drive.google.com/file/d/1DjgYXmvjbxNti3VYOCbvLeynSYihZbfv/view?usp=sharing" target="_blank" class="MobilLinkCv">
            DESCARGAR CV AQUI
        </a>
    </div>
</article>


